
@font-face {
    font-family: 'space_monoitalic';
    src: url('spacemono-italic-webfont.woff2') format('woff2'),
         url('spacemono-italic-webfont.woff') format('woff'),
         url('spacemono-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'space_monoregular';
    src: url('spacemono-regular-webfont.woff2') format('woff2'),
         url('spacemono-regular-webfont.woff') format('woff'),
         url('spacemono-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}