mixin nav-content()
	ul
		li: a(href="#home") home
		li: a(href="#services") services
		li: a(href="#portfolio") portfolio
		li: a(href="#adventures") adventures
		li: a(href="#contact") contact
		li: a(href="#about") about

.mobile-nav
	+nav-content()

header
	video(poster="/assets/img/mlky_6.jpg", autoplay="true", loop)
		source(src="/assets/img/mlky_6.mp4")
		
	.header-position
		h1.logo Spacenomad-Design

		nav.site-nav
			+nav-content()

		a(href="mailto:spacenomad-design@gmail.com").email-link +message me

		label(for= 'nav-toggle').mobile-nav-toggle: span
