<a name="services"></a>
section.header
	.flex
		.col-2
			h1 services

section.services
	.flex
		.col-1.icon-box
			img(src="assets/img/wordpress.png" width="75px").icon
			p.section-text i will #[span.alien design] a beautiful responsive #[span.alien wordpress] website for your business.
		.col-1.icon-box
			img(src="assets/img/psd.png" width="75px").icon
			p.section-text i will #[span.alien create] your amazing #[span.alien psd-to-html] website assuring a successful launch.
				
	.flex
		.col-2.hire
			p #[span.alien hire] me on:
	.flex
		.col-2
			a(href="https://www.upwork.com/freelancers/~0158ba329a67b9d68c?viewMode=1" target="_blank").home-btn upwork