<a name="home"></a>

section.header
	.flex
		.col-2
			h1 greetings

section.home
	.flex
		.col-1.text-right
			p.right #[span.alien no] aliens or space exploration here...

		.col-1.text-left
			p.white-text.left ...just a passion for #[span.alien discovery] and #[span.alien design].

	.flex
		.col-2
			a(href="#services").home-btn explore